/.phpunit.cache
/.DS_Store
/.env
/.env.*
!/.env.example
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/public/assets/admin/push_config.json
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
/temp
/whmlab.html
npm-debug.log
yarn-error.log
*.zip
.env
.env.*
oldtemplate/.env
oldtemplate/.env.*
oldtemplate/bootstrap/cache/*.php
oldtemplate/storage/framework/cache/*
oldtemplate/storage/framework/sessions/*
oldtemplate/storage/logs/*
/scratch

